.flex {
  display: flex;
}

.blackBgWhiteText {
  width: 50%;
  text-align: right;
  font-size: 48px;
  background: #000000;
  color: #ffffff;
  padding-top: 50px;
}

.whiteBgBlackText {
  width: 50%;
  font-size: 48px;
  background: #ffffff;
  color: #000000;
  padding-top: 50px;
}

.footerTextLeft {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 20px;
}

.footerTextRight {
  font-size: 20px;
  margin-left: 10px;
}

.footerTextEmail {
  font-size: 16px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.ellipse {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000000;
  margin-left: 170px;
  margin-top: -5px;
}

.rightLine {
  height: 1px;
  width: 170px;
  background: #000000;
}

.leftLine {
  margin-left: 88%;
  height: 1px;
  width: 100px;
  background: #ffffff;
}
