.wrapper {
    margin-left: 50px;
}

.input {
    outline: none;
    font-size: 20px;
    border: 1px none #000000;
    background: #ffffff;
    border-bottom-style: solid;
    margin-bottom: 50px;
}

.button {
    cursor: pointer;
    border: none;
    background: #000000;
    color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.header {
    font-size: 30px;
    font-weight: normal;
}


.form {
    display: flex;
    width: 80%;
    background: #ffffff;
}

@media (min-width: 1010px) {
    .header {
        margin: 0 0 0 70px;
    }

    .form {
        margin: 30px 70px 0 70px;
    }
}

@media (max-width: 1010px) {
    .header {
        margin: 30px 70px 0 70px;
    }

    .form {
        margin: 30px;
    }
}
